.noti-count-extend,
#box-container > .nav-bar > .nav-items > .noti-count,
#box-container > .nav-bar > .nav-items > .noti-container > .noti-title > .noti-count {
    position: absolute;
    background: #32B9B8;
    color: #fff;
    text-align: center;
}
/* Mavigation bar*/
#box-container {
    position: absolute;
    width: 440px;
    height: 440px;
    border: 2px solid #000;
    left: 0;
    right: 0;
    margin: auto;
}
#box-container > .nav-bar {
    width: 100%;
    height: 47px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #222;
}
#box-container > .nav-bar > .nav-items {
    float: left;
    text-align: center;
    width: 80px;
    padding: 15px;
    font: 14px bold 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#box-container > .nav-bar > .nav-items > .nav-links {
    color: #777;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    vertical-align: middle;
}
#box-container > .nav-bar > .nav-items > .nav-links:hover {
    color: #fff;
    text-decoration: none;
}
#box-container > .nav-bar > .nav-items > .noti-count {
    display: none;
    font-size: 8px;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    line-height: 18px;
    margin-left: -4px;
    margin-top: -6px;
}
#box-container > .nav-bar > .nav-items > .noti-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 8px #222;
    overflow: visible;
    position: absolute;
    top: 47px;
    margin-left: -85px;
    width: 240px;
    color: #444;
    z-index: 2;
    display: none;
}
#box-container > .nav-bar > .nav-items > .noti-container:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid #000;
    border-color: transparent transparent #fff;
    margin-top: -20px;
    margin-left: 115px;
}
#box-container > .nav-bar > .nav-items > .noti-container > .noti-title {
    display: none;
    width: 90%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid #ddd;
    position: relative;
    z-index: 100;
}
#box-container > .nav-bar > .nav-items > .noti-container > .noti-title > .new-noti-title {
    font: 13px bold 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    line-height: 30px;
}
#box-container > .nav-bar > .nav-items > .noti-container > .noti-title > .noti-count {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}
#box-container > .nav-bar > .nav-items > .noti-container > .noti-body {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 220px;
    overflow: auto;
}
#box-container > .nav-bar > .nav-items > .noti-container > .noti-body > .noti-text {
    display: block;
    cursor: pointer;
    font: 11px normal 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 90%;
    padding: 5%;
    line-height: 30px;
    background-color: #E9EFF2;
    border-bottom: 1px solid #ddd;
}
#box-container > .nav-bar > .nav-items > .noti-container > .noti-body > .noti-text.has-read {
    background-color: #fff;
}
#box-container > .nav-bar > .nav-items > .noti-container > .noti-footer {
    cursor: pointer;
    text-align: center;
    font: 13px bold 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 8px;
    border-top: 2px solid #ddd;
}
